body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #e9f5fc;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

canvas {
    border: 2px solid #ccc;
    display: block;
}

.homepage_title {
    position: absolute;
    top: 47%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.homepage_title img {
    width: 60vw; 
    height: auto;
}

.play-btn {
    position: absolute;
    top: 60vh; 
    left: 37vw; 
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.play-btn img {
    width: 25vw; 
    height: auto;
}

.play-btn:hover img {
    transform: scale(1.1); 
}

.close-btn {
    position: absolute;
    top: 2vh;
    left: 1vw; 
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.close-btn img {
    width: 5vw; 
    height: auto;
}

.close-btn:hover img {
    transform: scale(1.1); 
}

.setting-btn {
    position: absolute;
    top: 15vh; 
    left: 1vw; 
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.setting-btn img {
    width: 5vw; 
    height: auto;
}

.setting-btn:hover img {
    transform: scale(1.1); 
}

.gamemenu_tile {
    position: absolute;
    top: 15%; 
    left: 50%;
    transform: translate(-50%, -50%); 
}

.gamemenu_tile img{
    width: 40vw; 
    height: auto;
}

.gamemenu_bubble {
    position: absolute;
    top: 30%;
    left: 5%;
}

.gamemenu_bubble img {
    width: 27vw; 
    height: auto;
}

.gamemenu_bubble_title {
    position: absolute;
    top: 85%;
    left: 18%;
    transform: translate(-50%, -50%); 
}

.gamemenu_bubble_title img {
    width: 27vw; 
    height: auto;
}

.gamemenu_sorting {
    position: absolute;
    top: 30%;
    left: 37%;
}

.gamemenu_sorting img {
    width: 27vw; 
    height: auto;
}

.gamemenu_sorting_title {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.gamemenu_sorting_title img {
    width: 27vw; 
    height: auto;
}

.gamemenu_threading {
    position: absolute;
    top: 30%;
    left: 69%;
}

.gamemenu_threading img {
    width: 27vw; 
    height: auto;
}

.gamemenu_threading_title {
    position: absolute;
    top: 85%;
    left: 83.5%;
    transform: translate(-50%, -50%); 
}

.gamemenu_threading_title img {
    width: 27vw; 
    height: auto;
}

img {
    display: none; 
}

.play-btn img,
.close-btn img,
.setting-btn img,
.homepage_title img,
.gamemenu_tile img,
.gamemenu_bubble img,
.gamemenu_sorting img,
.gamemenu_threading img,
.gamemenu_bubble_title img,
.gamemenu_sorting_title img,
.gamemenu_threading_title img {
    display: block;
}