body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Robotto, sans-serif;
    background-color: rgb(233, 255, 206);
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}


.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

main {
    position: relative;
    width: 100%;
    height: 100%;
}

.homepage-title {
    position: absolute;
    top: 47%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    width: 55vw;
    height: auto;
}

.homepage-title img {
    width: 200vw; 
    height: auto;
}

.game-image {
    position: absolute;
    transform: translate(-50%, -50%);
}

.toybox {
    left: 10%;
    top: 85%;
    transform: translate(-50%, -50%) scale(1.2);
}

.bricktoy {
    left: 90%;
    top: 90%;
    transform: translate(-50%, -50%) scale(1.4);
}

.puzzle {
    left: 95%;
    top: 40%;
    transform: translate(-50%, -50%) scale(1);
}

.plane {
    left: 25%;
    top: 15%;
    transform: translate(-50%, -50%) scale(0.6);
}

.homepage {
    left: 50%;
    top: 27%;
    transform: translate(-50%, -50%) scale(1.5);
}

.close-btn, .setting-btn {
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
}

.close-btn {
    top: 2vh;
    left: 1vw;
}

.setting-btn {
    top: 15vh;
    left: 1vw;
}

.play-btn {
    position: absolute;
    top: 60vh;
    left: 40vw;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.play-btn img {
    width: 20vw;
    height: auto;
}

.play-btn:hover img {
    transform: scale(1.1);
}

.gamemenu_title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gamemenu_title img {
    width: 40vw;
    height: auto;
}

.game-option {
    position: absolute;
    top: 30%;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.game-option img {
    width: 27vw;
    height: auto;
}

#bubble {
    left: 5%;
}

#sorting {
    left: 37%;
}

#threading {
    left: 69%;
}

.game-option .title {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 27vw;
    height: auto;
    transition: transform 0.3s ease, opacity 0.3s ease;
    opacity: 0;
}

.game-option:hover .title {
    transform: translate(-50%, -60%);
    opacity: 1;
}

button {
    background: none;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

button img {
    width: 5vw;
    height: auto;
}

button:hover {
    transform: scale(1.1);
}

.result_title {
    position: absolute;
    top: 15%;
    left: 48%;
    transform: translate(-50%, -50%);
}

.result_title img {
    width: 40vw;
    height: auto;
}

.result_background {
    position: absolute;
    top: 60%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: auto;
}

.result_background img {
    width: 90%;
    height: auto;
}

.result_score_text {
    position: absolute;
    top: 65%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 75vw;
    height: auto;
}

.star-container {
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
}

.star {
    width: 400px;
    height: 400px;
}

.result_dinosaur {
    position: absolute;
    top: 40%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: auto;
}

.result_dinosaur img {
    transform: rotate(15deg);
}

.result_bricktoy {
    position: absolute;
    top: 95%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: auto;
}

.result_bricktoy img {
    width: 30%;
    height: auto;
}

.result_pizza {
    position: absolute;
    top: 20%;
    left: 120%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: auto;
}

.result_pizza img {
    width: 20%;
    height: auto;
}

.result_robot {
    position: absolute;
    top: 80%;
    left: 120%;
    transform: translate(-50%, -50%);
    width: 80vw;
    height: auto;
}

.result_robot img {
    width: 40%;
    height: auto;
}

.reload-btn {
    position: absolute;
    top: 75%;
    left: 40%;
    background: none;
    border: none;
    cursor: pointer;
}

.home-btn {
    position: absolute;
    top: 75%;
    left: 53%;
    background: none;
    border: none;
    cursor: pointer;
}

.home-btn img, .reload-btn img {
    width: 7vw;
    height: auto;
}

.score-container {
    position: absolute; /* Position the container absolutely */
    top: 65%; /* Position the container 60% from the top */
    left: 70%; /* Position the container 50% from the left */
    transform: translate(-50%, -50%); /* Center the container */
    padding: 60px; /* Add padding */
    text-align: center; /* Center the text inside the container */
    z-index: 1000; /* Ensure it's on top of other elements */
    width: 10%; /* Set the width of the container */
    height: 20%;
}

.score-text {
    font-family: 'Roboto', sans-serif; /* Use the specified font */
    font-size: 100px; /* Set the font size */
    color: #004aad; /* Set the text color */
    margin: 10px 0; /* Add margin between score elements */
}

/* Optional: Style for large screens */
@media (min-width: 768px) {
    .score-text {
        font-size: 150px; /* Increase font size for larger screens */
    }
}
