html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
canvas {
  display: block;
}

button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button img {
  width: 5vw;
  height: auto;
}

.bubble_title {
  position: absolute;
  top: 18%; 
  left: 53%;
  transform: translate(-50%, -50%); 
  width: 55vw;
  height: auto;
}

.bubble_title img {
  width: 50vw; 
  height: auto;
}

.bubble_dog_bath {
  position: absolute;
  top: 75%; 
  left: 57%;
  transform: translate(-50%, -50%); 
  width: 55vw;
  height: auto;
}

.bubble_dog_bath img {
  width: 40vw; 
  height: auto;
}

.back-btn {
  position: absolute;
  top: 15%; 
  left: 6%;
  transform: translate(-50%, -50%); 
  height: auto;
}

.back-btn img {
  width: 5vw; 
  height: auto;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

@keyframes fadeOut {
  from {
      opacity: 1;
  }
  to {
      opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}