html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

button img {
  width: 5vw;
  height: auto;
}